.heading{
width:100%;
font-size:22px;
margin:0px;
box-shadow:5px 5px 5px dimgray;
}
.instrctn{
font-size:15px;
color:white;
}
.credit{
text-align:center;
background-color:darkolivegreen;
color:white;
font-size:18px;
position:fixed;
bottom:0;
width:100%;
}
canvas{
box-shadow:5px 5px 5px white;
border:1px solid white;
border-radius:5px;
}